{% load staticfiles %}
<!DOCTYPE html>
{% include "home_templates/mycss.html" %}
<style>
body {
    background-color: #0673ca;
}
.first-title{
	font-family: 'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-weight: 100;
  letter-spacing: 1px;
    font-size: 100px;
    color: #fff;
	 text-align: center;
}
img.center{
 display: block;
    margin: 0 auto;
}
.center{
 display: block;
    margin: 0 auto;
}
</style>
{% include 'home_templates/navbar.html' %}
<body>
{% include "home_templates/myjs.html" %}

</body>

<div class="wow-fade first-title"> StubHub Interviews</div>
<img class="wow-fade-slower center" src='{% static "img/stubhub_logo.png" %}' alt="Mountain View" style="max-width:200px; margin-top:15px;"></a>
<!--<a class="fa fa-github fa-5x" href="https://github.com/jcpyun"></a>-->
<br>
<div class= "row text-center jpoffset">
<a class="wow wow-primary wow-lg outline col-md-4" href="{% url 'home' %}" role="button">Software Quality Engineer</a>
<a class="wow wow-primary wow-lg outline col-md-4" href="{% url 'home' %}" role="button">Software Developer</a>
<a class="wow wow-primary wow-lg outline col-md-4" href="{% url 'home' %}" role="button">General</a>
</div>

</html>


